.chat-screen {
    background-color: #abc1d1;
    height: 500vh;
}

.chat-screen .alt-header {
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    top: 10px;
    background-color: #abc1d1;
    z-index: 1;
}

@keyframes fadeIn {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s linear;
}

.chat__timestamp {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 14px;
    font-size: 14px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    animation: rightMove 0.5s ease-in-out forwards;
    animation-delay: .5s;
    transform: translateX(-360px)
}

@keyframes rightMove{
    0%{
    }
    100%{
        transform: none;
    }
}

.message-row img {
    width: 60px;
    height: 60px;
    border-radius: 25px;
    margin-right: 15px;
}

.message__author {
    margin-top: 6px;
    margin-bottom: 8px;
    display: block;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 8px 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 8px;
}

.message__time, .message__author {
    opacity: 0.8;
    font-size: 16px;
}

.message-row--own {
    justify-content: flex-end;
    animation: leftMove 0.5s ease-in-out forwards;
    animation-delay: .5s;
    transform: translateX(180px)
}

@keyframes leftMove{
    0%{
    }
    100%{
        transform: none;
    }
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    margin-right: 0px;
    margin-left: 5px;
}

.message__bubble:hover {
    will-change: transform;
    animation: bubble__fade-in 1s linear forwards;
}

@keyframes bubble__fade-in {
    0%{
        transform: none;
    }
    100%{
        transform: scale(1.2);
    }
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

/* span 배열순서 바꾸기 */
/* .message-row--own .message__bubble {
    order: 1;
}

.message-row--own .message__time {
    order: 0;
} */

.reply {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

.reply i {
    opacity: 0.6;
}

.reply .reply__column:first-child {
    width: 5%;
}

.reply .reply__column:last-child {
    width: 95%;
    position: relative;
}

.reply input {
    height: 30px;
    width: 100%;
    border: var(--main--border);
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    padding-left: 20px;
    /* box-sizing: border-box; */
    transition: all 0.3s ease-in-out;
}

.reply__column:first-child >i {
    position: absolute;
    left: 17px;
}

.reply__column:last-child >i,
.reply__column:last-child button {
    position: absolute;
    right: -23px;
    top: 1px;
}

.reply__column:last-child >i {
    right: 20px;
    top: 17px;
    font-size: 1.1rem;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
    opacity: 0;
}

/* .reply:focus-within input{ */
.reply input:focus {
    width: 93vw;
    transform: translateX(-8%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}