.find-icons{
    display: flex;
    justify-content: space-between;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i {
    font-size: 35px;
}

.find-icons__icon span {
    margin-top: 20px;
}

.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-bottom: var(--main--border);
    border-top: var(--main--border);
    
}

.recommended-friends span {
    margin: 110px 0px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.recommended-friends__title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity: 0.6;
}

.open-post {
    display: flex;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtags {
    text-transform: uppercase; /* 소문자를 대문자로 */
    opacity: 0.6;
}

.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__members-count {
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider {
    width: 2px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.2);

}

.open-post__members-status {
    color: #ffb0e0;
}