.friends-display-link {
    text-align: center;
    display: block;
    background-color: #FAFAFA;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 10px;
}

.friends-display-link i{
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding: 0px var(--horisontal-space);
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px 0px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}
