.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i {
    opacity: 0.5;
    margin-right: 20px;
    font-size: 22px;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}

.settings-middle {
    padding-top: 50px;
    margin-bottom: 50px;
    border-bottom: var(--main--border);
}