.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horisontal-space);
    margin-bottom: 15px;
    padding-top: 40px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 20px;
}

.screen-header__alarm {
    position: relative;
    left: 83px;
    bottom: 22px;
}