.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horisontal-space);
    padding-top: 40px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 20px;
}